{% if is_html %}
<html>
<head>
  <style>
    /* ----------------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY OVERRIDES FOR 
        E-MAIL CLIENTS THAT SUPPORT THE <STYLE> TAG
    ----------------------------------------------- */
    @media only screen and (max-width: 620px) {
      h1 {
        font-size: 1.25rem !important;
      }
      .button {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      table.body .email-area {
        margin: 0 !important;
      }
    }
  </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td class="email-area">

      <!-- START CENTERED WHITE CONTAINER -->
      <span class="preheader">{{ body }}</span>
      <table class="wrapper">
        <!-- START HEADER -->
        {% if logo %}
          <tr>
            <td class="header">
              {% set emailLogoWidth = logo.width / 2 %}
              {% set emailLogoHeight = logo.height / 2 %}
              <img class="img-responsive" src="{{ logo.url }}" width="{{ emailLogoWidth }}" height="{{ emailLogoHeight }}" alt=""/>
            </td>
          </tr>
        {% endif %}
        <!-- END HEADER -->
        <!-- START MAIN CONTENT AREA -->
        <tr>
          <td class="content">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-wrapper">
                  {{ body }}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- END MAIN CONTENT AREA -->

        <!-- START FOOTER -->

        <tr>
          <td align="center" valign="top" class="footer">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td valign="top" class="footer-content">
                    {{ footer }}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <!-- END FOOTER -->

      </table>

      <!-- END CENTERED WHITE CONTAINER -->
    </td>
  </tr>
</table>
</body>
</html>
{% else %}
  {{ body }}
{% endif %}